body { /* can also be whatever container */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
.content-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#page-title{
    text-transform: uppercase;
}

/* #start-button{
    padding: 0.5rem;
    border-radius: 1rem;
    width: auto;
} */ 